<h1>Deepak Rajput</h1>
<h2>Web Devloper , &ThickSpace;&ThickSpace; javascript</h2>
<h3>It is done by routerLink</h3>
<h3 class="link">
    <a [routerLink]="['/ite-loop']">Iteration and Loops</a>
</h3>
<h3 class="link">
    <a [routerLink]="['/employee']">ngClass, ngStyle, Data Binding</a>
</h3>
<h3 class="link">
    <a [routerLink]="['/pipe']" [title]='"All about Pipe"'>Pipes</a>
</h3>
<h3 class="link">
    <a [routerLink]="['/form']">Template Forms</a>
</h3>
<h3 class="link">
    <a [routerLink]="['/reactive-form']">Reactive Forms</a>
</h3>
<h3 class="link">
    <a [routerLink]="['/form-array']">FormArray</a>
</h3>
<h3>It is done by router.navigate</h3>
<h3>
    <button (click)="iteloop()">Show Iteration and Loops</button>
</h3>
<h3>
    Using Bootstrap
    <button class="btn btn-success" (click)="iteloop()">Show Iteration and Loops</button>
</h3>

<h3>It is path link that is not a component</h3>
<h3>
    <a [routerLink]="['/routes']">Routes</a>
</h3>
<hr>
<router-outlet></router-outlet>

<!-- <app-ite-loop></app-ite-loop> -->

<!-- In this component --- : ngClass , ngStyle , One-way Data Binding , Two-way Data Binding -->
<!-- <app-employee></app-employee> -->

<!-- <app-pipe></app-pipe> -->